{{intro-header}}
{{experience-summary}}
{{log name}}
{{portfolio-grid title=name}}
{{about-timeline}}
<aside class="clients">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-sm-6">
                <a href="#">
                    <img src="img/logos/mcwarside.png" class="img-responsive img-centered" alt="">
                </a>
            </div>
            <div class="col-md-2 col-sm-6">
                <a href="#">
                    <img src="img/logos/ciena.png" class="img-responsive img-centered" alt="">
                </a>
            </div>
            <div class="col-md-2 col-sm-6">
                <a href="#">
                    <img src="img/logos/LibertyTutoring.png" class="img-responsive img-centered" alt="">
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="#">
                    <img src="img/logos/Davidstea.png" class="img-responsive img-centered" alt="">
                </a>
            </div>
            <div class="col-md-2 col-sm-6">
                <a href="#">
                    <img src="img/logos/versaterm.png" class="img-responsive img-centered" alt="">
                </a>
            </div>
        </div>
    </div>
</aside>
{{contact-me}}
{{footer-info}}
{{outlet}}
